{
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "@vue/eslint-config-typescript",
    "@vue/eslint-config-prettier"
  ],
  "overrides": [
    {
      "files": [
        "*.vue"
      ],
      "rules": {
        "no-unused-vars": "off",
        "no-undef": "off"
      }
    },
    {
      "files": [
        "src/layouts/**/*",
        "src/pages/**/*"
      ],
      "rules": {
        "vue/multi-word-component-names": "off"
      }
    }
  ]
}