[tasks.vendor]
run = "pnpm i"

[tasks.lint]
run = "pnpm lint"

[tasks.build]
run = "pnpm build"

[tasks.test]
run = "pnpm test:unit"

[tasks.ci]
run = [
  { task = "vendor" },
  { task = "lint" },
  { task = "build" },
  { task = "test" },
]

[tools]
node = "24"
pnpm = "10"
